{% twig_js name="content" %}
<div class="row" id="title">
	<div class="col-md-12" > <h1>{{ evnt.name }} </h1></div>
</div>

<div class="row" id="separator">
	<div class="col-md-12"> </div>
</div>
<section>

<ul class="sortable">
    <li>
    	<div class="row">
			<div class="col-md-12 todo" id="todo1">
    			Acheter la bague <input type="checkbox" name="todo1" onClick="if(this.checked)this.parentNode.className += ' checked'; else this.parentNode.classList.remove('checked');"> 
    		</div>
    	</div>			
    </li>
    <li>
    	<div class="row">
			<div class="col-md-12 todo">
    			Inviter des gens <input type="checkbox"  name="todo2" onClick="if(this.checked)this.parentNode.className += ' checked'; else this.parentNode.classList.remove('checked');"> 
    		</div>
    	</div>
    </li>
    <li>
    	<div class="row">
			<div class="col-md-12 todo">
    			Aller chez le coiffeur <input type="checkbox"  name="todo3" onClick="if(this.checked)this.parentNode.className += ' checked'; else this.parentNode.classList.remove('checked');"> 
    		</div>
    	</div>
    </li>
    <li>
    	<div class="row">
			<div class="col-md-12 todo checked">
    			Avoir quelqu'un avec qui se marier <input type="checkbox" checked="checked" name="todo4" onClick="if(this.checked)this.parentNode.className += ' checked'; else this.parentNode.classList.remove('checked');"> 
    		</div>
    	</div>

    </li>
    <li>
    	<div class="row">
			<div class="col-md-12 todo checked">
    			Vouloir se marier <input type="checkbox" checked="checked" name="todo5" onClick="if(this.checked)this.parentNode.className += ' checked'; else this.parentNode.classList.remove('checked');">
			</div>
		</div>
    </li>
</ul>
<script>
    $('.sortable').sortable({
    	items: ':not(.disabled)'
	});
</script>

