
{% twig_js name="sidebar" %}
<div id="logo">PLAN <span class="blue">IT</span></div>
<div id="search">
    <form>
      <input name="search" type="search" class="search" placeholder="Rechercher">
      <input type="submit" value="Find" class="go">
    </form>
</div>
<div class="user">
    <img  src="/images/{{ user.image }}"/>
    <span class="name">{{user.name}} {{ user.surname }}</span> 
    <span class="counter-event">3 événements cours {# {{ name }} #}</span>
</div>
{% block navigation %}
    <ul id="menu">
        <li class="events">Evénements</li>
        <ul class="events" id="accordion">
            <li class="active event">Anniversaire Flor...</li>
            <ul class="modules">
                <li><a href="#">Général</a></li>
                <li><a href="#">Gestion des invités</a></li>
                <li><a href="#">Gestion du budget</a></li>
            </ul>
            <li class="event">Mariage Aurélie</li>
            <ul class="modules">
                <li><a href="#">Général</a></li>
                <li><a href="#">Gestion des invités</a></li>
                <li><a href="#">Gestion du budget</a></li>
            </ul>
            <li class="event">Anniversaire papa</li>
            <ul class="modules">
                <li><a href="#">Général</a></li>
                <li><a href="#">Gestion des invités</a></li>
                <li><a href="#">Gestion du budget</a></li>
            </ul>
        </ul>
        <li class="account">Mon compte</li>
        <li class="last help">Aide</li>
    </ul>
{% endblock %}



