@import 'general';

header {
	border-color: $color;
}

/*#expense_form{
	margin: auto !important;
	width: 200px !important;
	input{
		margin:0;
		width: 100%;
	}
}*/

/*pie chart*/
.pie_chart{
	height: 300px; 
	max-width: 550px; 
	margin: 0 auto;
}

.bt_budget button{
	background-color: $color;
	padding: 4px 17px;
	width: 100%;
	margin-top: 6px;
}


.info_dte{	
	background-color: $neutral;
	color: #5c5a5a;
	@include border-radius(5px);
	height:89px;
	margin: 20px 0 12px 0;
	font-size: 14px;
	
	span{
		font-size: 25px;
		position:relative;
		padding-top: 10px;
	}

	p{
		text-align: center;
		padding: 20px;
		position:relative;
		margin-bottom: 15px;
	}

	img{
		position:absolute;
		right: 15px;
	}

}

.info_color{
	background: $neutral url("/images/budget/info_dte_balance.png") no-repeat;
	background-position: 100% 2px;
	color:#ffffff;
	margin-top: 80px;
	&.positif {
		background-color: $color;
		background-position: 100% -149px;
	}
	&.negatif {
		background-color: $negative;
		background-position: 100% -294px;
	}
}

@media (min-width: 992px) {

	.info_dte{	
			width:75%;
			float:right;		
	}

}

/*CONTENT ONGLETS*/

table{
	font-size: 12px;
	margin-bottom: 2px;

	th:nth-child(1){
    	border-radius: 5px 0px 0px 0px;
	}
	th:nth-last-child(1){
	    border-radius: 0px 5px 0px 0px;
	}

	tr:nth-last-child(1){
	    border-radius: 5px 5px 5px 5px;
	}

	th{
		text-align: center;
		color:#fff;
		background-color: $color;
		cursor: default;
	}

	/* ntlignes paires. */
	tbody tr:nth-child(even) { 
		background-color:#f4f3f5;
		td input {
			background-color:#f4f3f5;
		}		
	}

	/* impaires. */
	tbody tr:nth-child(odd) { 
		background-color:#e0e0e0;
		td input {
			background-color:#e0e0e0;
		} 
	}

	tbody td { 
		height: 33px;
		vertical-align: middle !important;
		input {
			border: none;
			text-align: center;
			cursor: pointer;
			@include border-radius(5px);
			&:focus {
				border : none;
				background-color: #FFF !important;
				outline : none;
			}
		}
	}

	/* Effet de survol au passage du curseur. */
	tbody tr:hover { 
		background-color:rgba(132,114,153,0.5);
		td input {
			background-color:#d6cbe2;
		} 
	}

	.delete-expense{
		cursor:pointer;
	}
	.delete-inflow{
		cursor:pointer;
	}
}


table.table.table-condensed th{
    border: none;
}

table.table.table-condensed td{
    border: none;
}

span#legend {
	font-size: 11px;
	margin-bottom: 22px;
}

.add-expense, .add-inflow, .add_typeexpense {
	padding: 0;
	margin-bottom:20px;
	button {
		background-color: $color;
		padding: 4px 17px;
		width: 100%;
		margin: 0;
	}
}

.add-expense {
	padding-right: 0;
}
.add_typeexpense button {
	font-size:12px;
}

.empty_cat_add_expense {
	margin: auto;
  	float: none;
}

#no-cat,
#no-expense {
	.empty {
		clear: both;
		color: $color;
	}
	.add_typeexpense {
		margin: auto;
	  	float: none;
	  	padding: 0;
	}
}

.delete-expense,.delete-inflow{
	background: url('/images/budget/icon_budget.png') no-repeat;
	width: 22px;
	height: 16px;
	margin: 0 auto;
	background-position-x : 0px;
	&:hover {
		cursor: pointer;
	}
}

.input_tab{
	width:40px;
}

.article{
	width: 120px;
}

.apport-base{
	background-color: $neutral !important;
	border-bottom: 1px solid #e2e2e2;
}



/* tableau*/
/*
@media (max-width:1052px) {*/
@media (max-width:770px) {
	.responsive-table-line td:before { content: attr(data-title); }
	.responsive-table-line table, 
	.responsive-table-line thead, 
	.responsive-table-line tbody, 
	.responsive-table-line th, 
	.responsive-table-line td, 
	.responsive-table-line tr { display: block; }	/*
	.responsive-table-line tr:nth-last-child(1) { margin-bottom: 5px; }*/

	.apport-base td:nth-last-child(1) { display: none; }

	.responsive-table-line thead tr { 
		display:none;
	}
	.responsive-table-line td { 
		position: relative;
		padding-left: 25% !important; 
		white-space: normal;
		text-align:center; 
	}

	.responsive-table-line tr{
		margin-bottom: 10px;;
	}

	.responsive-table-line td input {
			background-color:transparent !important;
		}	

	.responsive-table-line tbody td:nth-child(even) { 
		background-color:#e0e0e0 !important;
	}

	.responsive-table-line tbody td:nth-child(odd) { 
		background-color:#f4f3f5 !important;
	}
	
	.tabs nav {margin-left: -20px !important;	}

	.responsive-table-line td:before { 
		position: absolute;
		top: 0px;
		left: 0px;
		width: 25%; 
		padding-right: 15px; 
		height:100%;
		white-space: nowrap;
		text-overflow: ellipsis !important;
		overflow:hidden !important;
		text-align:center;
		background-color:$color;
		color: #fff;
		padding:2px;
		line-height: 2.5;
		border-bottom: 1px solid #705f84;
	}

}


a {
	color: $color;
	text-decoration: none;
	outline: none;
	font-size: 1.2em;
}

a:hover, a:focus {
	color: #74777b;
}

.hidden {
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
	opacity: 0;
}

.container_onglet > section {
	font-size: 18px;
	min-height: 100%;
}

.container_onglet  {
	margin:0 auto;
}

.tabs {
	position: relative;
	width: 100%;
	font-weight: 300;
	margin:0;
}

/* Nav */
.tabs nav {
	text-align: center;
	margin-left: 5px;
}

.tabs nav ul {
	position: relative;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	margin: 0 auto;
	padding: 0;
	list-style: none;
	-ms-box-orient: horizontal;
	-ms-box-pack: center;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}

.tabs nav ul li {
	position: relative;
	z-index: 1;
	display: block;
	margin: 0;
	text-align: center;
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.tabs nav a {
	position: relative;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 1.8;
	&:hover{
		background-color:$color;
	}
}


.tabs nav li.tab-current a {
	color: #74777b;
}

.tabs nav a:focus {
	outline: none;
}

.supp-type_expense{
	float:right;
	margin:7px;
	cursor:default;
}


/* Content */
.content-wrap {
	position: relative;
}

.content-wrap section {
	display: none;
	margin: 0 auto;
	padding-top: 1em;
	text-align: center;
}

.content-wrap section.content-current {
	display: block;
	margin-top:40px;

}
#section-topline-depenses{
	margin-top: -40px;
	z-index: -2;
}


/*****************************/
/* Top Line */
/*****************************/

.tabs-style-topline nav li {
	border: 1px solid rgba(40,44,42,0.1);
}

.tabs-style-topline nav li:not(:last-child) {
	border: none;
}

.tabs-style-topline nav li.tab-current {
	border-top-color: $color;
	border-bottom: none;
}

.tabs-style-topline nav a {
	height: 41px;
	background-color: #d8d7d7;
	color: #74777b;
}

.tabs-style-topline nav a:hover,
.tabs-style-topline nav a:focus {	
	color:#fff;
}

.tabs-style-topline nav li.tab-current a {
	background: none;
	box-shadow: inset 0 3px 0 $color;
	color: $color;
}

.tabs-style-topline .icon::before {
	display: block;
	margin: 0;
}

.tabs-style-topline nav a span {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	font-size: 0.6em;
}

.first_onglet{
	border-radius: 5px 0 0 5px; 
}

.last_onglet{
	border-radius: 0 5px 5px 0; 
}

/* sous menu depense */
.sous-menu-depense{
	margin:0 10px 0 10px;
	text-align: left;
	height: 50px;
	z-index: 1;
	a{
		color:$color;
	}
	li{
		display: inline-block;
		font-size: 12px;
		height: 100%;
		margin-right:20px;
		font-weight: bold;
		vertical-align: middle;
		padding: 15px 10px;
		cursor: pointer;
		&:hover{
			border-bottom:2px solid $color;
		}
	}
	.tab-current{
		border-bottom:2px solid $color;
	}
}