@font-face {  font-family: "GothamHTF-Medium";  src: url('/fonts/GothamHTF-Medium.otf') format("opentype"); }

@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,300,100);


/*COLORS*/

$positive: #a5cd7d;
$negative: #e56454;
$neutral: #dfdede;
$color: #847299;

$color: #847299;


/*MIXIN*/
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-shadow($vertical, $horizontal, $scale, $blur, $color) {
  -webkit-box-shadow: $vertical $horizontal $scale $blur $color ;
     -moz-box-shadow: $vertical $horizontal $scale $blur $color;
      -ms-box-shadow: $vertical $horizontal $scale $blur $color;
          box-shadow: $vertical $horizontal $scale $blur $color;
}

.modal-header {
	color: $color;
	border-color: $color;
}
.modal-body {
	input[type="submit"] {
		background-color: $color;
		&:hover {
			background-color: darken($color, 5%);
		}
	}
	input[type="text"] { 
		display: block;
	}
}

.modal.validate {
	button {
		background: url("/images/utils.png") no-repeat;
		width: 50%;
		height: 87px;
		display: inline-block;
		background-size: 17%;
		padding-top: 71px;
		font-size: 13px;
		border: none;
		background-position: 50% -1px;
		&#delete_cancel {
			background-position: 50% -142px;
			background-size: 20%;
		}
	}
}
