@import 'general';


.descr_event{	
	img{
		width:100%;
		height: 200px;
		background-size: cover; 
		margin-top: 20px;
	}
		p{
		text-align: justify;
		padding-top: 10px;
	}

}

#pie_chart{
	height: 350px; 
	max-width: 600px; 
	margin: 0 auto;
}


.info_dte{
	
	background-color: $neutral;
	color: #5c5a5a;
	@include border-radius(5px);
	height:89px;
	margin: 20px 0 12px 0;
	
	span{
		font-size: 25px;
		position:relative;
	}

	p{
		text-align: center;
		padding: 20px;
		position:relative;
	}

	img{
		position:absolute;
		right: 15px;
	}

}

.info_color{
	background-color: $negative;
	color:#ffffff;
}

#mes_modules{
	background-color: $neutral;
	@include border-radius(5px);
	height: 30px;
	margin-top: 50px;
	line-height:30px;

}


.module {
	color:#ffffff;
	text-align: center;
	height: 270px;
	margin: 40px 0 -10px 0;

	img{			
	}

	div {
		height: 100%;
		padding: 70px 0 70px 0;
		cursor: pointer;
	}

	#module_invite{
		background-color:$invit_module;
	}
	#module_budget {
		background-color:$budget_module;
	}
	#module_lieu {
		background-color:$place_module;
	}
	#module_todo {
		background-color:$todo_module;
	}
	#module_transport {
		background-color:$transport_module;
	}
	#ajout_module {
		background-color:$add_module;

		p{
			color:#7a7a7a;
			font-size: 50px;
			vertical-align: center;
		}
	}

	p{
		margin-top: 40px;
	}

}



@media (min-width: 992px) {

	.info_dte{
	
			width:75%;
			float:right;
		
	}

	.descr_event{
		img{
			width:75%;
			height: auto;
			float:left;
		}
		p{
			width:75%;
			float:left;
		}
	}

}