@import 'general';

button{
	background-color: $blue_logo;
	padding: 4px 17px;
	width: 100%;
	margin-top: 15px;
}

.descr_event{	
	img{
		width:100%;
		height: 200px;
		background-size: cover; 
		margin-top: 20px;
	}
		p{
		text-align: justify;
		padding-top: 10px;
	}

}

#pie_chart{
	height: 350px; 
	max-width: 600px; 
	margin: 0 auto;
}


.info_dte{
	
	background-color: $neutral;
	color: #5c5a5a;
	@include border-radius(5px);
	height:89px;
	margin: 20px 0 12px 0;
	
	span{
		font-size: 25px;
		position:relative;
	}

	p{
		text-align: center;
		padding: 20px;
		position:relative;
	}

	img{
		position:absolute;
		right: 15px;
	}

}


.info_color{
	background: $neutral url("/images/event/info_dte_budget.png") no-repeat;
	background-position: 100% -112px;
	color: #5c5a5a;
	/*margin-top: 80px;*/
	&.positif {
		background-color: $positive;
		background-position: 100% -223px;
		color:#ffffff;
	}
	&.negatif {
		background-color: $negative;
		background-position: 100% 0px;
		color:#ffffff;
	}
}

#mes_modules{
	background-color: $neutral;
	@include border-radius(5px);
	height: 30px;
	margin-top: 50px;
	line-height:30px;
}


.module {
	text-align: center;
	height: 270px;
	margin: 40px 0 20px 0;

	.module_button {
		height: 100%;
		width:100%;
		cursor: pointer;
		border:1px solid #fff;
	}

	a{
		color:#fff;
		display: block;
		height: 100%;
		width: 90%;		
		padding: 70px 0 70px 0;
		position: absolute;
	}

	#module_1{
		background-color:$invit_module;
		&:hover {
			background-color: darken($invit_module, 5%);
			.delete_module {
			 	display: block;
				background-position-x : -41px;
			}
		}
	}
	#module_2 {
		background-color:$budget_module;
		&:hover {
			background-color: darken($budget_module, 5%);
			.delete_module {
			 	display: block;			 	
				background-position-x : -107px;
			}
		}
	}
	#module_3 {
		background-color:$place_module;
		&:hover {
			background-color: darken($place_module, 5%);
			.delete_module {
			 	display: block;			 	
				background-position-x : -85px;
			}
		}
	}
	#module_4 {
		background-color:$transport_module;
		&:hover {
			background-color: darken($transport_module, 5%);
			.delete_module {
			 	display: block;			 	
				background-position-x : -128px;
			}
		}
	}
	#module_5 {
		background-color:$todo_module;
		&:hover {
			background-color: darken($todo_module, 5%);
			.delete_module {
			 	display: block;			 	
				background-position-x : -62px;
			}
		}
	}

	.delete_module {
		background: url('/images/picto-suppr.png') no-repeat;
		width: 12px;
		height: 12px;
		position:absolute;
		top:8px;
	 	right:25px;
	 	display: none;
	 	z-index: 2;
		background-position-x : 0px;
		&:hover {
			cursor: pointer;
		}
	}

	#ajout_module {
		background-color:$add_module;
		&:hover {
			background-color: darken($add_module, 5%);
		}

		p{
			color:#7a7a7a;
			font-size: 50px;
			padding:70px 0;
		}
	}

	p{
		margin-top: 40px;
	}

}


@media (min-width: 992px) {

	.info_dte{
	
			width:75%;
			float:right;
		
	}

	.descr_event{
		img{
			width:75%;
			height: auto;
			float:left;
		}
		p{
			width:75%;
			float:left;
		}
	}

}