
{%if is_max%}
    <div class="modal fade addGuestModal" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <button id="close-modal" type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title" id="myModalLabel">Ajouter un invité</h4>
                </div>
                <div class="modal-body">
                    <span> Attention : Le nombre maximum d'inscrits est atteint </span>
                </div>
            </div>
      </div>
    </div>
{%else%}
	<div class="modal fade addGuestModal" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <button id="close-modal" type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title" id="myModalLabel">Ajouter un invité</h4>
                </div>
                <div class="modal-body">
                    <form id="form-post-guest" action="" method="post" {{ form_enctype(form) }} class="blogger">
                        {{ form_widget(form) }}

				    <p>
				        <input type="submit" value="Ajouter">
				    </p>
                    </form>
                </div>
            </div>
      </div>
    </div>
{%endif%}

