{ parameters: { database_driver: pdo_mysql, database_host: 127.0.0.1, database_port: null, database_name: planit, database_user: root, database_password: null, mailer_transport: smtp, mailer_host: 127.0.0.1, mailer_user: null, mailer_password: null, locale: en, secret: 968dde5080ee5c18f059d8930a39196f760bc32a, debug_toolbar: true, debug_redirects: false, use_assetic_controller: true, database_path: null, libpath.ruby: /usr/bin/ruby, libpath.compass: /usr/bin/compass, libpath.sass: /usr/bin/sass, path: "planit/web" } } 
