/*FONTS*/

@font-face {  font-family: "GothamHTF-Medium";  src: url('/fonts/GothamHTF-Medium.otf') format("opentype"); }

@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,300,100);


/*COLORS*/
$header: #f1f1f1;

$menu: #252525;
$menu_module: #2e2d2d;
$blue_logo: #61c0a5;


$head_event: #f1f1f1;
$text_listing: #444343;
$add_event : #f1f1f1;


/*MIXIN*/
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-shadow($vertical, $horizontal, $scale, $blur, $color) {
  -webkit-box-shadow: $vertical $horizontal $scale $blur $color ;
     -moz-box-shadow: $vertical $horizontal $scale $blur $color;
      -ms-box-shadow: $vertical $horizontal $scale $blur $color;
          box-shadow: $vertical $horizontal $scale $blur $color;
}

/*GENERAL*/
body {
  margin: 0;
  padding: 0;
}

.container {
  margin-left: 180px;
  width: inherit;
  padding:2% 5% 5% 5%;
}
.ui-state-focus { outline: none; }

#title{
  h1 {
    text-align: center;
    font-size: 22px;
    font-weight: 200;
    color:#777676;
  }
  padding-bottom:20px;
}

#separator{
  border-bottom: 1px solid #dadada;
  margin-bottom: 40px;
}

button {
    border: none;
    color: #FFF;
    @include border-radius(3px); 
    font-size: 13px;
  }

.head-list {
  height: 41px;
  @include border-radius(3px); 
  padding: 13px 27px;
}