/*FONTS*/

@font-face {  font-family: "GothamHTF-Medium";  src: url('/fonts/GothamHTF-Medium.otf') format("opentype"); }

@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,300,100);


/*COLORS*/
$header: #f1f1f1;

$menu: #252525;
$menu_module: #2e2d2d;
$blue_logo: #61c0a5;


$head_event: #d3d3d3;
$text_listing: #444343;
$add_event : #f1f1f1;


/*MIXIN*/
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-shadow($vertical, $horizontal, $scale, $blur, $color) {
  -webkit-box-shadow: $vertical $horizontal $scale $blur $color ;
     -moz-box-shadow: $vertical $horizontal $scale $blur $color;
      -ms-box-shadow: $vertical $horizontal $scale $blur $color;
          box-shadow: $vertical $horizontal $scale $blur $color;
}

@mixin border-radius-multi($radius1, $radius2, $radius3 ,$radius4) {
  -webkit-border-radius: $radius1 $radius2  $radius3 $radius4;
     -moz-border-radius: $radius1 $radius2 $radius3 $radius4;
      -ms-border-radius: $radius1 $radius2 $radius3 $radius4;
          border-radius: $radius1 $radius2 $radius3 $radius4;
}

/*GENERAL*/
body {
  margin: 0;
  padding: 0;
}

a:link 
{ 
 text-decoration:none; 
} 

.container {
  margin-left: 200px;
  width: inherit;
  padding:2% 5% 5% 5%;
}
.ui-state-focus { outline: none; }
.select-open, .select-enabled, .select-target-focused,
a:focus { outline: none !important; }

#title{
  h1 {
    text-align: center;
    font-size: 22px;
    font-weight: 200;
    color:#777676;
  }
  padding-bottom:20px;
}

#separator{
  border-bottom: 1px solid #dadada;
  margin-bottom: 40px;
}

button {
    border: none;
    color: #FFF;
    @include border-radius(3px); 
    font-size: 13px;
    &:focus {
      outline : none;
    }
  }

.head-list {
  height: 41px;
  @include border-radius(3px); 
  padding: 13px 27px;
}

.modal-dialog {
  margin: 0;
    position: absolute;
    top: 30%;
    left: 30%;
  .modal-content{
    .modal-header {
      background-color: $header; 
      @include border-radius-multi(4px,4px,0,0); 
      text-align: center;
      border-bottom: solid 2px;
    }
    #close-modal {
      background : url("/images/utils.png") no-repeat;
      background-position: 46% -236px;
      float: right;
      height: 19px;
      width : 19px;
      &:focus {
        outline: none;
      }
    }
    .modal-body {
      div {
        margin:auto;
        width: 200px;
        label {
          font-weight: normal;
          margin-right: 20px;
        }
      }
      input[type="text"], input[type="email"] {
        border: solid 1px #d8d7d7;
        @include border-radius(3px); 
        padding: 6px;
        display: block;
        margin: 12px auto;
        width: 200px;
      }
      input[type="submit"] {
        border: none;
        display: block;
        margin: 20px auto;
        color: #FFF;
        @include border-radius(3px); 
        font-size: 13px;
        width: 200px;
      }
      label.file {
        cursor: pointer;
        width: 100%;
      }
      input[type="file"] {
        position: absolute;
        display: inline-block;
        left: 0;
        top: 0;
        opacity: 0.01;
      }
    }
  }
}

.modal.validate {
  button {
    background: url("/images/utils.png") no-repeat;
    width: 50%;
    height: 87px;
    display: inline-block;
    background-size: 17%;
    padding-top: 71px;
    font-size: 13px;
    border: none;
    background-position: 50% -1px;
    &#delete_cancel {
      background-position: 50% -142px;
      background-size: 20%;
    }
  }
}
