@import 'general';

.listing-events .col-md-3{
	height: 100%;
}

.event-thumbnail {
	border: solid 1px #dad7d7;
	height: 300px;

	.head {
		background-color: $head_event;
		padding: 16px 15px;
		height: 44px;
		h2,.date {
			color: $text_listing;
			margin : 0;
			font: 16px 'PT Sans';
			font-weight: 500;
		}
		h2{
			float: left;
		}
		.date {
			float: right;
		}
	}

	.content {
		padding: 15px;
		.image-cropper {
		  	position: relative;
			height: 150px;
			overflow: hidden;
			margin-bottom : 12px;
		}
		img {
			margin-bottom :15px;
			width:100%;
		}
		.description {
			text-align: justify;
			color: $text_listing;
			font: 12px 'PT Sans';
		}
	}
}

.event-thumbnail.add {
	background: $add_event;
	p {
		color: #777777;
		text-align: center;
		font-size: 70px;
		line-height: 300px;
	}
}