@import 'general';

#sidebar {
	background-color: $menu;
	bottom : 0;
	left: 0;
	position: fixed;
	top:0;
	width: 180px;

	#logo {
		//box-shadow: -3px 10px 12px #000;
		color: #FFF;
		font: 23px 'GothamHTF-Medium';
		height: 60px;
		line-height: 64px;
		text-align: center;
		@include box-shadow(0px,4px,2px,-2px,#1c1c1c);
		.blue {
			color: $blue_logo;
			font-family: 'Roboto';
			font-weight: 100;
		}
	}

	#search {
		margin-top: 3px;
		input.search {
			background-color: $menu;
			border: none;
			font: 14px 'PT Sans';
			padding-left: 11px;
			width: 82%;
		}
		input.go {
			background: $menu url('/images/picto-menu.png');
			border: none;
			text-indent: 999px;
			width: 10%;
		}
	}

	.user {
		padding: 15px 15px 20px 15px;
		@include box-shadow(0px,4px,2px,-2px,#1c1c1c);
		img {
			float: left;
			height: 41px;
			margin-right: 14px;
			@include border-radius(20px);
			width: 41px;
		}
		.name {
			display: block;
			font: 14px 'PT Sans';
			color : #e4e4e4;
			margin-top:5px; 
		}
		.counter-event {
			font: 10px 'PT Sans';
			color : #aeaeae;
		}
	}

	#menu,
	#menu ul {
		margin: 0;
		padding: 0;
		li {
			@include box-shadow(0px,4px,2px,-2px,#1c1c1c);
			color: #dddddd;
			list-style: none;
			padding: 9px 0 9px 40px;
			font: 14px 'PT Sans';
			a {
				color: #dddddd;
				font: 14px 'PT Sans';
				text-decoration: none;
				&:active,
				&:hover {
					color: $blue_logo;
				}
			}
			&.last {
				@include box-shadow(0,0,0,0,#1c1c1c);
			}
		}
	}
	ul.modules li {
		background-color: $menu_module;
		border: solid 1px $menu;
	}
	ul.events { 
		li.event {
			background: url('/images/picto-menu.png') no-repeat;
			background-position: 98% -135px;
			border: 0;
			@include border-radius(0); 
			&:hover,
			&.open {
				border-left: solid 8px $blue_logo;
				padding-left: 32px !important;
			}
			&.open {
				background-position: 98% -184px;
			}	
		}
	}
	ul.modules {
		border: none;
		@include border-radius(0); 
	}

	
	ul li.events,
	ul li.account,
	ul li.help {
		background: url('/images/picto-menu.png') no-repeat;	
	}

	ul li.events {
		background-position: 11px -23px;
	}
	ul li.account {
		background-position: 11px -55px;
	}
	ul li.help {
		background-position: 11px -86px;
	}

}