{% extends 'PlanItEventBundle::layout.html.twig' %}
{% block content %}
	<div id="content_general_event" class="container">
		<div class="row" id="title">
			<!--Template title -->
		</div>

		<div class="row" id="separator">
			<div class="col-md-12"> </div>
		</div>

		<div class="row">
			<div class="col-md-3 descr_event" id="description">
					<!-- Template description -->
			</div>
			<div class="col-md-5"> 
				<div id="pie_chart"></div>
			</div>
			<div class="col-md-4" id="infos"> 
				<!--Template infos -->
			</div>
		</div>

		<div class="row" id="mes_modules">
			<div class="col-md-12">Mes modules</div>
		</div>

		<div class="row">
			<div id="modules">
				<!--Template modules -->
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 module">	
				<div id="ajout_module" data-toggle="modal" data-target="#basicModal"> 
		    		<p>+</p> 
				</div>     		
			</div>
			<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
		        <div class="modal-dialog">
		            <div class="modal-content">
		                <div class="modal-header">
		                <button id="close-modal" type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		                <h4 class="modal-title" id="myModalLabel">Ajouter un module</h4>
		                </div>
		                <div class="modal-body">
						<div id="form_container">
						</div>
						</div>
		            </div>
		      </div>
		    </div>
		</div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }} <!-- pour ne pas effacer les autres feuilles de style -->
    <script> getEvent({{event_id}}); </script>
    {% javascripts '@PlanItEventBundle/Resources/public/js/api.js'
    '@PlanItEventBundle/Resources/public/js/chart.js' %}
	      <script language="javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}