@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,300,100);
@font-face {  font-family: "GothamHTF-Medium";  src: url('/fonts/GothamHTF-Medium.otf') format("opentype"); }


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

body{
	font-family: 'Roboto';
	text-align: center;
	background-color: #f1f1f1;
	height: 100%;
	margin:0;
	
}

#content{
	font-family: 'Roboto';
	margin: auto;
	color:#777676;
	position: absolute;
  	left: 50%;
  	top:150px;
  	width: 320px;
  	margin-left: -160px;
  	text-align: left;  
}

h1{
	text-align: center;
	margin-bottom: 20px;
	font-weight: 400;
}

.separator{
	border-bottom: 1px solid #dadada;
 	margin-bottom: 40px;
 	width:100%;
}

input[type="text"], input[type="password"] {
	@include border-radius(3px); 
	padding: 8px;
	width: 95%;
	margin-bottom: 20px;
	border:0;
}

input[type="submit"] {
	@include border-radius(3px); 
	padding: 8px 0;
	width: 100%;
	margin: 20px 0;
	border:0;
	background-color: #61c0a5;
	color:#fff;
	cursor: pointer;
}


input[type="submit"]:hover{
	background-color: #55b298;
}

#form-post-guest{
	position: relative;
     margin: auto;
     top: 40%;
     right: 0;
     bottom: 0;
     left: 0;
}

select{
	@include border-radius(3px); 
	padding: 8px;
	width: 100%;
	margin: 10px 20px 0 0;
	border:0;
	color: #a4a4a4;
}

label{
	position: relative;
	color:#252525;
	font-size: 14px;
	margin-bottom:50px !important;
}

header{
	background-color: #252525;
	color:#fff;
	border-bottom: 3px solid #61c0a5;
	padding: 5px;
	/*margin-bottom: 20px;*/
	height:50px;
}

#logo {
	color: #fff;
	font-family: 'GothamHTF-Medium';
	font-size: 23px;	
	text-align: left;
	cursor: pointer;
	text-decoration: none;
	float: left;
	padding:10px 20px;
	/*@include box-shadow(0px,4px,2px,-2px,#1c1c1c);*/
}

.blue {
		color: #61c0a5;
		font-family: 'Roboto';
		font-weight: 100;
}
