
$color: #1d89cf;
$no: #e56454;
$yes: #77e469;
$wait : #e48069;
$head-list: #d8d7d7;
$row-list: #f1f1f1;
$header: #f1f1f1;


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}


.modal-header {
	color: $color;
	border-color: $color;
}
.modal-body {
	input[type="submit"] {
		background-color: $color;
		&:hover {
			background-color: darken($color, 5%);
		}
	}
	input[type="text"],input[type="email"] { 
		display: block;
	}
}

.modal.validate {
	button {
		background: url("/images/utils.png") no-repeat;
		width: 50%;
		height: 87px;
		display: inline-block;
		background-size: 17%;
		padding-top: 71px;
		font-size: 13px;
		border: none;
		background-position: 50% -1px;
		&#delete_cancel {
			background-position: 50% -142px;
			background-size: 20%;
		}
	}
}