@import 'general';

header {
	border-color: $color;
}


.guest-module {
	button {
		background-color: $color;
		padding: 4px 17px;
		width: 100%;
		margin-top: 6px;
	}
	#paying-checkbox {
		margin-top: 6px;
		font-size: 12px;
		input[type=checkbox] {
			margin-right: 13px;
		}
	}

	.list {
		margin: 28px 0 39px;
		@include border-radius(5px);
		.head-list {
			background-color: $head-list;
			padding: 13px 27px 13px 10px;
			cursor: pointer;
			@include border-radius(5px);
			.typename{
				float:left;
				margin-left: 20px;
				input{
					border:none;
					background-color: $head-list;
					font-size: 14px;
					width: 100%;
					&:focus {
						background-color: #FFF !important;
						color: #000000;
						outline : none;
					}
					@media (max-width: 737px) {
						margin-left: 16px;
						font-size: 14px;
					}
				}

			}
			.typeprice{
				input{
					float:left;
					border:none;
					background-color: $head-list;
					font-size: 14px;
					width: 30%;
					text-align:right;
					&:focus {
						background-color: #FFF !important;
						color: #000000;
						outline : none;
					}
					@media (max-width: 737px) {
						margin-left: 16px;
						font-size: 14px;
					}
				}
				span{
					float:left;
				}

			}
			.name {
				float:left;
				margin-left: 20px;
				font-size: 17px;
				line-height: 17px;
				@media (max-width: 737px) {
					margin-left: 16px;
					font-size: 14px;
				}

			}
			form {
				float: left;
				width: 71px;
				.selectize-control {
					margin-top: -7px;
					.selectize-input {
						background-color: $row-list;
						padding: 5px;
					}
				}
			}
			.price {
				float: left;
				@media (min-width: 931px) {
					margin-right: 49px;
				}
			}
			.modify_type, .delete_type {
				background: url('/images/picto-modif.png') no-repeat;
				width: 24px;
				height: 24px;
				margin: 2px 23px 0 0;
				float: left;
				&:hover {
					cursor: pointer;
				}
			}

			.delete_type{
				background-position-x : -20px;
				&:hover {
					background-position-x : -69px;
				}
			}

			.modify_type{
				margin-right: 0px;
				&:hover {
					background-position-x : -49px;
				}
			}

		}
		.labels.row {
			margin: 0;
			padding: 10px 0 5px 0;
			color: #828282;
			.col-sm-1 {
				padding:0;
			}
			form input[type="checkbox"]{
				display: block;
				margin: 3px auto;
				width: 14px;
			}
			.confirmed, .payed, .send, .delete {
				text-align: center;
			}
		}
	 	.row-list.row {
			margin:0 0 10px 0;
			background-color: $row-list;
			padding: 7px 0;
			height: 40px;
			@include border-radius(5px); 
			.col-xs-1, .left.col-xs-6 {
				padding:0;
			}

			input[type="text"] {
				border: none;
				@include border-radius(3px); 
				padding: 3px;
				width: 100%;
			}
			input[type="checkbox"]{
				display: block;
				margin: 7px auto;
				width: 14px;
			}
			.confirmed .light, .payed .light {
				background-color: #000;
				height: 11px;
				width: 11px;
				margin: 9px auto;
				@include border-radius(11px); 

				&.state-1 {
					background-color: $yes;
				}
				&.state-0 {
					background-color: $no;
				}
				&.state-2 {
					background-color: $wait;
				}
				&:hover {
					cursor: pointer;
				}
			}
			.send .picto, .delete .picto {
				background: url('/images/guests/icon_guests.png') no-repeat;
				width: 24px;
				height: 24px;
				margin: 5px auto 0 auto;
				&:hover {
					cursor: pointer;
				}
			}

			.sent-1 .picto {
				background-position-x : -54px;
			}
			.delete .picto {
				background-position-x : -106px;
			}
		}
		.add-guest {
			margin: 7px -15px 0 0;
	 	}
	 }
	
	select
	.selectize-control.single .selectize-input {
		border: none;
		padding: 3px 3px 3px 7px;
	}

	.accordion-head {
		background: url('/images/accordion.png') no-repeat;
		background-position: 97% -18px;
		border: 0;
		@include border-radius(0); 
		&.open {
			background-position: 97% 20px;
		}	
	}
}


// MEDIA QUERIES
@media (max-width: 992px) {
	.labels.row {
		p,form {
			font-size: 12px;
		}		
	}
}
@media (max-width: 768px) {
	.accordion-body{
		margin-top:12px;
	}
	.firstname {
		padding-left: 7px !important;
	}
}
