@import 'general';

header {
	border-color: $color;
}


.guest-module {
	button {
		background-color: $color;
		padding: 4px 17px;
		width: 100%;
	}
	#paying-checkbox {
		margin-top: 6px;
		font-size: 12px;
		input[type=checkbox] {
			margin-right: 20px;
		}
	}

	.list {
		margin: 28px 0 39px;
		.head-list {
			background-color: $head-list;
			padding: 13px 27px 13px 10px;
			.name {
				float:left;
				margin-left: 20px;
				font-size: 17px;
				line-height: 17px;
			}
			form {
				float: left;
				width: 71px;
				.selectize-control {
					margin-top: -7px;
					.selectize-input {
						background-color: $row-list;
						padding: 5px;
					}
				}
			}
			.price {
				float: right;
				margin-right: 49px;
			}
		}
		.labels.row {
			margin: 0;
			padding: 15px 0 10px 0;
			color: #828282;
			form input[type="checkbox"]{
				display: block;
				margin: 3px auto;
				width: 14px;
			}
			.confirmed, .payed, .send, .delete {
				text-align: center;
			}
		}
	 	.row-list.row {
			margin:0 0 7px 0;
			background-color: $row-list;
			padding: 7px 0;
			@include border-radius(3px); 
			input[type="text"] {
				border: none;
				@include border-radius(3px); 
				padding: 6px;
				width: 100%;
			}
			input[type="checkbox"]{
				display: block;
				margin: 10px auto;
				width: 14px;
			}
			.confirmed .light, .payed .light {
				background-color: #000;
				height: 11px;
				width: 11px;
				margin: 12px auto;
				@include border-radius(11px); 

				&.state-1 {
					background-color: $yes;
				}
				&.state-0 {
					background-color: $no;
				}
				&.state-2 {
					background-color: $wait;
				}
				&:hover {
					cursor: pointer;
				}
			}
			.send .picto, .delete .picto {
				background: url('/images/guests/icon_guests.png') no-repeat;
				width: 24px;
				height: 24px;
				margin: 7px auto 0 auto;
				&:hover {
					cursor: pointer;
				}
			}
			.sent-true .picto {
				background-position-x : -54px;
			}
			.delete .picto {
				background-position-x : -106px;
			}
			form#payment {
				width: 61%;
			}
		}
		.add-guest {
			margin: 7px -15px 0 0;
	 	}
	 }
	
	select
	.selectize-control.single .selectize-input {
		border: none;
		padding: 3px 3px 3px 7px;
	}

	.accordion-head {
		background: url('/images/accordion.png') no-repeat;
		background-position: 97% -61px;
		border: 0;
		@include border-radius(0); 
		&.open {
			background-position: 97% 18px;
		}	
	}
}
