
$color: #ff9f37;
$neutral: #d8d7d7;


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}


.modal-header {
	color: $color;
	border-color: $color;
}
.modal-body {
	input[type="submit"] {
		background-color: $color;
		&:hover {
			background-color: darken($color, 5%);
		}
	}
}