
$color: #ff9f37;
$neutral: #d8d7d7;


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

header {
	.logout {
		color : $color !important;
	}
}

.modal-header {
	color: $color;
	border-color: $color;
}
.modal-body {
	input[type="submit"] {
		background-color: $color;
		&:hover {
			background-color: darken($color, 5%);
		}
	}
}

.modal.validate {
	button {
		&#delete_confirm_list:before,
		&#delete_confirm_item:before {
	      background-position: 50% -69px;
	      background-size: 92%;
    	}
	}
}