@import 'general';

header {
	border-color: $color;
}

.buttons{
	margin-bottom: 10px;
}

.todo{
	background-color: $color;
	color: #ffffff;
	padding: 10px 30px;
	margin: 10px 0px 10px 0px;
	@include border-radius(5px);
	input{
		border:none;
		background-color: #ff9f37;
		margin-right: 20px;
		cursor: pointer;
		&:focus {
			background-color: lighten($color, 7%);
			color: #212121;
			padding:1px 5px;			
			@include border-radius(5px);
			outline : none;
		}
	}
}

li {
	list-style: none;	
}

ul{
	padding:0;
}

.block-jauge{
	margin-top: 10px;
	margin-bottom: 10px;
	.elmt-jauge{
		margin-left: 5px;
		display:block;
		float:left;
		width:10%;
		height:5px;
		background-color: $neutral;
	}
}


.checked{
	background-color: $neutral;
	color:#333;
}

.bt_todo button{
	background-color: $color;
	padding: 4px 18px;
	width: 100%;
	margin-bottom: 5px;
}

.add-item {
	margin-top: 7px;
}

.delete, .delete-type {
	background: url('/images/picto-suppr.png') no-repeat;
	width: 10px;
	height: 10px;
	margin-top: 7px;
	float: left;
	background-position-x : -63px;
	&:hover {
		cursor: pointer;
	}
}

.delete-type{
	background-position-x : 0px;
	margin-right: 30px;
	margin-top: 11px;
	&:hover {
		background-position-x : -63px;
	}
}


.type-list{
	margin-top: 30px;
}


.accordion-head {
	border:0;
	height: 41px;
	background: url('/images/accordion.png') no-repeat;
	background-position: 98% -19px;
	background-color: $neutral;
	@include border-radius(5px);
	cursor: pointer;  
	text-align: center;
	padding: 5px 30px;
	input{
		border: none;
		margin-top:3px;
		cursor: pointer;
		padding: 2px 5px;
		text-align: center;
		background-color: #f0f0f0;
		@include border-radius(5px);
	}
	&.open {
		background-position: 98% 18px;
	}

}