@import 'general';

header {
	border-color: $color;
}

.buttons{
	margin-bottom: 10px;
}

.todo{
	background-color: $color;
	color: #ffffff;
	padding:10px 30px 10px 30px;
	margin: 10px 15px 0px 15px;
	@include border-radius(5px);
	input{
		float:left;
		border:none;
		background-color: #ff9f37;
		margin-right: 20px;
		&:focus {
			background-color: #FFF !important;
			color: #000000;
			outline : none;
		}
	}
}

/*
.todo input[type="checkbox"]{
    background: white;
}*/

.checked{
	background-color: $neutral;
	color:#333;
}

.bt_todo button{
	background-color: $color;
	padding: 4px 18px;
	width: 100%;
	margin-bottom: 5px;
}

.add-item {
	margin-top: 7px;
	margin-right: -45px;
}

.modify_item, .delete {
	background: url('/images/picto-modif.png') no-repeat;
	width: 24px;
	height: 24px;
	margin: 2px 23px 0 0;
	float: left;
	&:hover {
		cursor: pointer;
	}
}

.delete{
	background-position-x : -20px;
	&:hover {
		background-position-x : -69px;
	}
}

.modify_item{
	margin-right: 0px;
	&:hover {
		background-position-x : -49px;
	}
}


/* LISTE DRAG AND DROP */
.sortable, .exclude {
	margin: auto;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding: 0;
	-webkit-padding-start: 0px;
}

.sortable.grid {
	overflow: hidden;
}

.sortable li, .exclude li {
	list-style: none;		
	margin-bottom: 10px;
	height: 40px;
}

.handles span {
	cursor: move;
}

li.disabled {
	opacity: 1;
}

li.sortable-placeholder {
	border: 1px dashed #CCC;
	background: none;	
	padding:0;
	margin: -10px 0px 20px 0px;
	height:40px;
}
