@import 'general';

header {
	border-color: $color;
}

.buttons{
	margin-bottom: 10px;
}

.todo{
	background-color: $color;
	color: #ffffff;
	padding:10px 30px 10px 30px;
	margin: 10px 15px 0px 15px;
	@include border-radius(5px);
	input{
		float:left;
		background-color: #ffffff;
		margin-right: 20px;
	}
}

/*
.todo input[type="checkbox"]{
    background: white;
}*/

.checked{
	background-color: $neutral;
	color:#333;
}

.bt_todo button{
	background-color: $color;
	padding: 4px 18px;
	width: 100%;
	margin-bottom: 5px;
}



/* LISTE DRAG AND DROP */
.sortable, .exclude {
	margin: auto;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding: 0;
	-webkit-padding-start: 0px;
}

.sortable.grid {
	overflow: hidden;
}

.sortable li, .exclude li {
	list-style: none;		
	margin-bottom: 10px;
	height: 40px;
}

.handles span {
	cursor: move;
}

li.disabled {
	opacity: 1;
}

li.sortable-placeholder {
	border: 1px dashed #CCC;
	background: none;	
	padding:0;
	margin: -10px 0px 20px 0px;
	height:40px;
}
