{% twig_js name="infos" %}
<div class="info_dte">
	<img src="/images/event/info_dte_zzz.png" /> 
	<p> NOMBRE DE DODOS </br> <span>{{days}}</span> </p>
</div>
<div class="info_dte">
	<img src="/images/event/info_dte_invite.png" /> 
	<p> NOMBRE D'INSCRITS </br> <span>{{nb_guests}}</span> </p>
</div>
<div class="info_dte info_color">
	<img src="/images/event/info_dte_budget.png" /> 
	<p> BALANCE DU BUDGET </br> <span>36</span> </p>
</div>