
$color: #FFCB07;
$neutral: #d8d7d7;
$head-list: #d8d7d7;
$row-list: #f1f1f1;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}


.modal-header {
	color: $color;
	border-color: $color;
}
.modal-body {
	input[type="submit"] {
		background-color: $color;
		&:hover {
			background-color: darken($color, 3%);
		}
	}
}

.modal.validate {
	button {
		&#delete_confirm_place:before{
	      background-position: 50% -104px;
	      background-size: 92%;
    	}
	}
}

