@import 'general';

header {
	border-color: $color;
}

input{
	@include border-radius(5px);
	padding: 2px 5px;
}

.selectize-input{
	width: 30% !important;
}

.bt_place{
	button{
		background-color: $color;
		padding: 4px 18px;
		width: 100%;	
		margin-bottom: 10px;
	}
	#modify_contract{
		width:80% !important;
		/*float: right;*/
	}
}
.short_input{
	width:50px;
}

.img_place{
	height: 200px;
	margin-bottom: 20px;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: relative;
}

#bt_img{
	margin-top: 10px;
}

#infos{
	p{
		margin-bottom:3.5px;
	}
	.label_descr{
		font-weight: bold;
	}
}

.accordion-head {
		background: url('/images/accordion.png') no-repeat;
		background-position: 97% -19px;
		border: 0;
		cursor: pointer;
		margin-top: 30px;
		@include border-radius(0); 
		&.open {
			background-position: 97% 20px;
		}	
}


	.list {
		margin: 0px 0 10px;
		@include border-radius(5px);
		.check {
				float: left;
				margin: 15px 0 0 20px;
				  -webkit-appearance: radio;			}
		.head-list {
			background-color: $head-list;
			padding: 13px 27px 13px 10px;
			@include border-radius(5px);
			&:hover input{
				background-color: lighten($head-list, 5%);
			}
			input{
				float:left;
				border:none;
				margin-right: 20px;					
				margin-top:-4px;
				padding: 2px 5px !important;
				@include border-radius(5px);
				background-color: $head-list;/*
				&:focus{
					background-color: lighten($head-list, 5%);
				}*/
			}
			.delete_place{
				margin: 3px 50px 0 0;
				background: url("/images/picto-suppr.png") no-repeat;
				width:15px;
				height: 15px;				
				background-position-x : 0px;
				&:hover {
					cursor: pointer;
					background-position-x : -63px;
				}
			}
			.name {
				float:left;
				margin-left: 20px;
				font-size: 17px;
				line-height: 17px;
			}			
			.price {
				float: right;
				margin: -3px 49px 0 0;
				input{
					margin: -2px 5px 0 0!important;
				}
			}
			
		}
	}
	.checked {
			background-color: $color !important;
			color:#fff;
			&:hover input{
				background-color: lighten($color, 5%) !important;
			}
				input{				
					background-color: $color !important;
				/*	&:focus{
						background-color: lighten($color, 5%) !important;
					}	*/			
				}
			}
	.nochecked {
				input{
					float:left;
					border:none;
					background-color: $head-list;
					margin-right: 20px;
					&:focus {
						background-color: #FFF !important;
						color: #000000;
						outline : none;
					}
				}
			}
	.labels.row {
			margin: 0;
			padding: 15px 15px 10px 15px;
		}
	 	.row-list.row {
			margin:0 0 7px 0;
			background-color: $row-list;
			padding: 7px 0;
			@include border-radius(3px); 
		}
		input{
			border:none;
			&:focus {
				border: solid 1px $neutral;
				background-color: #FFF !important;
				color: #000000;
				outline : none;
			}
		}

/* Small devices (tablets, 768px and up) */
@media (min-width: 0px) { 
	.map_canvas { position:relative;width: 100%; height: 200px; } 
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	.map_canvas { width: 50%; height: 200px; } 
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
	.map_canvas { width: 400px; height: 200px; } 
}



.js .input-file-container {
  position: relative;
  width: 180px;
  margin:-40px 0 0 80px;
  cursor: pointer;
}
.js .input-file-trigger {
  display: block;
  padding: 5px 0px;
  background: $neutral;
  color: #333;
  transition: all .4s;
  cursor: pointer;
  text-align: center;
  font-weight: normal;
}
.js .input-file {
  position: absolute;
  top: 0; left: 0;
  width: 180px;
  padding: 5px 0;
  opacity: 0;
  cursor: pointer;
}
 
.js .input-file:hover + .input-file-trigger,
.js .input-file:focus + .input-file-trigger,
.js .input-file-trigger:hover,
.js .input-file-trigger:focus {
  background: $color;
  color: #fff;
}
 
.file-return {
  margin: 0;
}
.file-return:not(:empty) {
  margin: 1em 0;
}
.js .file-return {
  font-style: italic;
  font-weight: normal;
  font-size: 10px;
}
.js .file-return:not(:empty):before {
  content: "Fichier choisi: ";
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
}