{% twig_js name="guests_payable" %}
<form id="paying-checkbox" action="">
	<input id="payable-{{module_id}}" onclick="updatePayable({{module_id}})" type="checkbox" {% if payable %} checked {%endif%}>Evenement payant
</form>