/*FONTS*/
/*@font-face {
    font-family: 'gotham_htfmedium';
    src: url('../fonts/gothamhtf-medium-webfont.eot');
    src: url('../fonts/gothamhtf-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gothamhtf-medium-webfont.woff2') format('woff2'),
         url('../fonts/gothamhtf-medium-webfont.woff') format('woff'),
         url('../fonts/gothamhtf-medium-webfont.ttf') format('truetype'),
         url('../fonts/gothamhtf-medium-webfont.svg#gotham_htfmedium') format('svg');
    font-weight: bold;
    font-style: normal;

}*/



/*COLORS*/
$menu: #252525;
$menu_module: #2e2d2d;
$blue_logo: #61c0a5;

$positive: #a5cd7d;
$negative: #e56454;
$neutral: #dfdede;

$invit_module: #1d89cf;
$budget_module: #f9de2f;
$place_module: #857198;
$todo_module: #dc4888;
$transport_module : #ff9f37;
$add_module : #f1f1f1;
