{% extends 'PlanItTodoBundle::layout.html.twig' %}

{% block content %}
<div class="container">
	<div class="row" id="title">
        <div class="col-md-12" > <h1>TODO</h1> </div>
    </div>

	<div class="row" id="separator">
		<div class="col-md-12"> </div>
	</div>

	<div class="row">
        <div class="col-md-3 bt_todo"><button data-toggle="modal" data-target=".addItemModal">Ajouter une tâche</button></div>
        <div class="col-md-3 bt_todo"><a href="/app_dev.php/todo-pdf/{{module_id}}">Imprimer la liste des tâches</a></div>
        <!--<div class="col-md-3 bt_todo"><button>Valider</button></div>-->
    </div>
     {{ render(controller('PlanItTodoBundle:Item:form', { 'module_id' : module_id } ))}}


		<ul class="sortable" id="todo-list">
		    <!-- Template list.html.twig-->
		</ul>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }} <!-- pour ne pas effacer les autres feuilles de style -->
    <script> getModule({{module_id}}); </script>
   	<script>
	    $('.sortable').sortable({
	    	items: ':not(.disabled)'
		});
	</script>
{% endblock %}
